---
import LandingLayout from '../layouts/LandingLayout.astro';
import TeamLanding from '../components/sections/TeamLanding.astro';
---

<LandingLayout
  title="Dkart Line | L'Équipe"
  description="Découvrez l'équipe Dkart Line : quatre étudiants passionnés unis pour concevoir un drift kart performant."
  currentPage="equipe"
>
  <main>
    <TeamLanding />
  </main>
</LandingLayout>
