---
import LandingLayout from '../layouts/LandingLayout.astro';
import TimelineLanding from '../components/sections/TimelineLanding.astro';
---

<LandingLayout
  title="Dkart Line | Notre Histoire"
  description="L'histoire du projet Dkart Line, du garage jusqu'au circuit."
  currentPage="histoire"
>
  <main>
    <TimelineLanding />
  </main>
</LandingLayout>
