---
import LandingLayout from '../layouts/LandingLayout.astro';
import FutureLanding from '../components/sections/FutureLanding.astro';
---

<LandingLayout
  title="Dkart Line | La Suite"
  description="L'aventure Dkart Line ne fait que commencer. Découvrez nos futurs projets et devenez partenaire de cette aventure étudiante avec la Fondation UTT."
  currentPage="suite"
>
  <main>
    <FutureLanding />
  </main>
</LandingLayout>
